@{
    ViewBag.Title = "Home";
}

<div class="jumbotron mainSec">
    <h1 class="container" id="homeTitle">Get Travel Reviews</h1>
    <p class="container" id="homeDescription">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="container" id="homeButton"><a href="http://asp.net" class="btn btn-primary btn-lg homeCTA">Find Reviews Now &raquo;</a></p>
</div>

@*@Html.ActionLink("Reviews", "Index", "Reviews")*@